:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #33373E;

}

/* Wrapper */
.page-wrapper{
  color: #FFFFFF;
  height: 100vh;
}

/* Navigation */
nav{
  display: flex;
  justify-content: space-between;
  background-color: #21222A;
  padding: 3rem 5rem;
}

#brand{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #61DAFB;
}

#react-logo{
  height: 40px;
  padding-right: 2rem;
}

.subtitle{
  color: #DEEBF8;
}

h3{
  font-size: 2rem;
  font-weight:600;
}

h4{
  font-size: 1.5rem;
  font-weight: 600;
}
/* Main */

.main-container {
  font-size: 1.5rem;
  line-height: 2.5;
  padding: 3rem 5rem;
  background-image: url("./assets/react-img-grey.png");
  background-repeat: no-repeat;
  background-position: 45% -10%;
}



.main-title {
  font-size: 3rem;
  letter-spacing: -0.05rem;
}

.main-facts > li::marker {
  /* content:'x  '; */
  font-size: 1.4rem;
  color:#61DAFB;
}